# IDE files #
*.komodoproject
.komodotools/
*.code-workspace
.vscode/

# Py stuff #
__pycache__/
*.py[cod]
*$py.class
__pycache__/
.Python
build/
*egg-info/
dist/*

# Documentation stuff #
docs/_build/*
docs/_static/*
docs/_templates/*
docs/make*
