# IDE files #
*.komodoproject
.komodotools/
*.code-workspace
.vscode/

# Py stuff #
__pycache__/
*.py[cod]
*$py.class
__pycache__/
.Python
build/
*egg-info/
dist/*
.venv/
test.vpy
.vspreview/

# Documentation stuff #
docs/build/*
