vsutil>=0.5.0
numpy>=1.21.1
flake8>=3.9.2
flake8-comprehensions>=3.6.1
flake8-raise>=0.0.5
flake8-return>=1.1.3
flake8-noqa>=1.1.0
flake8-quotes>=3.3.0
flake8-rst-docstrings>=0.2.3
flake8-sphinx-links>=0.2.1
flake8-typing-collections>=1.0.1
mypy>=0.910
mypy-extensions>=0.4.3
setuptools>=57.4.0
sphinx>=4.1.2
sphinx-autodoc-typehints>=1.12.0
sphinx_rtd_theme>=1.0.0
sphinxcontrib-applehelp>=1.0.2
sphinxcontrib-devhelp>=1.0.2
sphinxcontrib-htmlhelp>=2.0.0
sphinxcontrib-jsmath>=1.0.1
sphinxcontrib-qthelp>=1.0.3
sphinxcontrib-serializinghtml>=1.1.5
twine>=3.4.2
wheel>=0.37.0
